.box-title h2 {
  color: white;
}

.box-title {
  margin-bottom: 2rem;
}
.input-style {
  border: none;
  padding: 10px;
  width: 40%;
  border-radius: 4px;
}

#input-wrapper {
  margin-bottom: 2rem;
}

#show-result {
  padding: 20px;
  overflow: scroll;
  border-radius: 4px;
  overflow-y: scroll;
  height: 80px;
  overflow-x: unset;
  background: #1e77ff;
}

#show-result {
  color: black;
}

#show-result p {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eadddd;
}
tr:nth-child(odd) {
  background-color: whitesmoke;
}

th {
  background-color: #313232;
  color: white;
}

.favBtn {
  border: none;
  padding: 6px;
  border-radius: 4px;
  color: white;
  background-color: #04aa6d;
  cursor: pointer;
}
.favBtn:hover {
  background-color: #1e77ff;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}
